<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.zhouboot.mapper.DemoUserMapper">
  <resultMap id="BaseResultMap" type="com.zhou.zhouboot.entity.DemoUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
  </resultMap>

  <parameterMap id="demoUser" type="com.zhou.zhouboot.entity.DemoUser">
    <parameter property="id" jdbcType="INTEGER"  />
    <parameter property="userName" jdbcType="VARCHAR"  />
    <parameter property="pwd" jdbcType="VARCHAR" />
  </parameterMap>
<select id="getUser" resultMap="BaseResultMap" parameterMap="demoUser">
    select * from demo_user where id = #{id}
</select>

  <insert id="addUser"  parameterType="com.zhou.zhouboot.entity.DemoUser"  useGeneratedKeys="true" keyProperty="id">
    insert into demo_user(id,user_name,pwd) values(#{id},#{userName},#{pwd})
  </insert>
</mapper>